Benchmarking/Client/Service References/BenchService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpus" type="xs:int" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
        <xs:element minOccurs="0" name="ownername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>